.sidebar {
  width: 180px;
  height: 100vh;
  background-color: var(--white-color);
  position: fixed;
  top: 48px;
  left: 0;
  padding-top: 15px;
}

.sidebar::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  box-shadow: 2px 0 4px rgba(0,0,0,0.1);
  clip-path: inset(0 -5px 0 0);
  pointer-events: none;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0 12px;
}

.navItem {
  padding: 9px 12px;
  border-radius: 6px;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s;
  font-size: 14px;
}

.navItem:hover {
  background-color: var(--light-color);
}

.navItem.active {
  background-color: var(--light-color);
  color: var(--primary-color);
  font-weight: 500;
}
