.protected-layout {
  height: 100vh;
  background-color: #f8f9fa;
  overflow: hidden;
}

.protected-content {
  margin: 70px 15px 0 215px;
  transition: margin-left 0.3s ease;
}

h1 {
  font-size: 25px;
  margin-top: 0px;
}

@media (max-width: 768px) {
  .protected-content {
    margin-left: 15px;
  }
}