.protected-layout {
  height: 100vh;
  overflow: hidden;
  background-color: #f8f9fa;
}

.protected-content {
  margin: 0 auto;
  margin-left: 200px;
  margin-right: 15px;
  margin-top: 70px;
}

h1 {
  font-size: 25px;
  margin-top: 0px;
}